<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<body class="d-flex flex-column">
  <footer class="footer">
    <div style="color:white" class="container text-center">
    <!-- WARNING REMOVING HOLA CLIENT CREDITS WILL END UP IN A DMCA TAKE DOWN AGAINST THE HOST -->
      <small>Copyright &copy; <script>document.write(new Date().getFullYear());</script> <%= settings.name %> | Powered by <a style="color: aquamarine;" href="https://github.com/CR072/holaclient">Hola Client</a></a></small>
    </div>
  </footer>
</body>
<style>
  .footer {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  font-family: poppins;
  background-color: rgba(165, 165, 165, 0.315);
}
</style>